body{
    background-color: #eddddd;
}

.MaindivStyles{
    display: flex;
    justify-content: center;
    height: auto;
    .TodoListDiv{
        width: 100%;
        background-color:rgb(255, 254, 254);
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        margin-top: 30px;
    }
    .InputStylesDiv{
        display: flex;
        justify-content: center;
        gap: 10px;
        
        .InputStyles{
        background-color: rgb(255, 255, 255);
        width: 90%;
        height: 48px;
        border: 2px solid #000;
    }
    .AddToButton{
        height: 48px;
    }
}
    .ItemList{
        font-size: 24px;
    }
    .ItemListButton{
        font-size: 24px;
        color: red;
    }
    .widthDiv{
        @media only screen and (max-width: 536px) {
            width: 90% !important;
          
            }
    }
    input {
        &::placeholder {
          color:black; 
          font-size: 16px;
          font-family: 'Courier New', Courier, monospace;
        }
      }
      .tableDataDiv{
        margin: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        .tableData{
            width: 90%;
            // margin-left: 50px;
            // border: 2px solid black;
        }
      }
}