body{
  margin: 0px;
  padding: 0px;
}
.wrapperClass{
   
.headerMenu{
    @media only screen and (max-width: 650px) {
      display: none;
      }   
}

.manuIcon{
    @media only screen and (min-width: 650px) {
      display: none;
      }   
}
.imgwrapperClass{
    background-color: black;
    color: white;
    font-size: 24px;
    .imgclass{
    font-size:24px;
    margin-top:6px;
    }
  } 

  .drawerClass {
    .css-dev-only-do-not-override-p7e5j5 & .ant-drawer .ant-drawer-body {
      flex: 1;
      min-width: 0;
      min-height: 0;
      padding: 0px;
      overflow: auto;
    }
  }
  .divMarginStyle{
    margin: 0px;
  }
}